*{
    margin: 0%;
    padding: 0%;
    /* background-color: #f2f2f2; */
}

body {
    font-family: "Public Sans", sans-serif;
    position: relative;
    font-size: 14px;
    color: #222222;
    margin: 0;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}
.container {
    /* display: flex; */
    /* justify-content: space-between; */
    padding-bottom: calc(30px + 20 * (100vw - 320px) / 1600);
    padding-top: calc(30px + 20 * (100vw - 320px) / 1600);
}

.aftercon {
    padding: 1rem !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.first {
    background-color: gray;
    width: 60%;
}

.last {
    width: 40%;
}

.theimages {
    display: flex;
}

.product-image {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.icon {
    width: 40px;
    height: 40px;
}

.colouredNumbers {
    background-color: blue;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

.itemName {
    font-weight: bold;
}

.itemName span {
    font-weight: normal;
}

.theMinus {
    color: #fff;
    background-color: gray;
    font-weight: bold;
    border-radius: 5px;
    font-size: 35px;
    padding-right: 20px;
    padding-left: 20px;
}

.thePlus {
    color: #fff;
    background-color: blue;
    font-weight: bold;
    border-radius: 5px;
    font-size: 35px;
}

.theEdit {
    color: #fff;
    background-color: rgb(142, 195, 238);
    font-weight: bold;
    border-radius: 5px;
    font-size: 35px;
    width: 70px;
    height: 55px;
}

.theDelete {
    color: #fff;
    background-color: red;
    font-weight: bold;
    border-radius: 5px;
    font-size: 35px;
    width: 70px;
    height: 55px;
}

.afterTheTotal {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.afterTheTotal button {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 1rem;
}

.afterTheTotal button p {
    font-size: 1.5rem;
}